.headerlogo{
    width:200px;
    height:200px;
    background-image: url("./nestlogo.jpeg");
}
.img-resize{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}